<section class="event clearfix" id="event-<%= event.id %>">
  <% unless event.category.blank? %>
    <span class="event-category"><%= event.category.name %></span>
  <% end -%>
  
  <div class="event-map-image-container">
    <%= link_to static_google_map_image(location: event.location), map_event_path(event), :remote => true %>
  </div>

  <h2 class="overflow-hidden"><%= event.name %></h2>
  <div class="event-date-venue">
    <span class="date"><i class="icon-calendar"></i><%= event_date_range(event) %></span>
    <h4 class="venue"><i class="icon-map-marker"></i><%= link_to truncate(event.venue, :length => 35), map_event_path(event), :remote => true %></h4>
  </div>

  <div class="event-short-description">
    <p><%= truncate(event.description, :length => 350) %></p>
    <% if event.description.length > 350 %>
      <%= link_to "Show more", "#", :class => "show-more", "data" => { :id => event.id } %>
    <% end -%>
  </div>

  <div class="event-full-description hide">
    <%= simple_format event.description %>
    <%= link_to "Show less", "#", :class => "show-less", "data" => { :id => event.id } %>
  </div>

  <div class="event-contact-info clearfix">
    <% unless event.time.blank? %>
      <div class="event-info-item clearfix">
        <label>Time: </label>
        <span><%= event.time %></span>
      </div>
    <% end -%>

    <% unless event.organizer.blank? %>
      <div class="event-info-item clearfix">
        <label>Organizer: </label>
        <span><%= event.organizer %></span>
      </div>
    <% end -%>
    
    <% unless event.contact_person.blank? %>
      <div class="event-info-item clearfix">
        <label>Contact: </label>
        <span><%= event.contact_person %></span>
      </div>
    <% end -%>

    <% unless event.phone_number.blank? %>
      <div class="event-info-item clearfix">
        <label>Phone: </label>
        <span><%= event.phone_number %></span>
      </div>
    <% end -%>
    
    <% unless event.fax_number.blank? %>
      <div class="event-info-item clearfix">
        <label>Fax: </label>
        <span><%= event.fax_number %></span>
      </div>
    <% end -%>
    
    <% unless event.website.blank? %>
      <div class="event-info-item clearfix">
        <label>Website: </label>
        <span><%= link_to event.website, event.website %></span>
      </div>
    <% end -%>

    <% unless event.email.blank? %>
      <div class="event-info-item clearfix">
        <label>Email: </label>
        <span><%= mail_to event.email %></span>
      </div>
    <% end -%>
  </div>

  <%= render :partial => "shared/social_buttons", :locals => { :url => event_url(event) } %>

</section>